[submodule "wiki"]
	path = wiki
	url = git@github.com:project-omicron/wiki.git
[submodule "catkin_ws/src/pca9685"]
	path = catkin_ws/src/pca9685
	url = git@github.com:project-omicron/pca9685.git
[submodule "catkin_ws/src/ai_pilot_keras"]
	path = catkin_ws/src/ai_pilot_keras
	url = git@github.com:project-omicron/ai_pilot_keras.git
[submodule "catkin_ws/src/throttle"]
	path = catkin_ws/src/throttle
	url = git@github.com:project-omicron/throttle.git
[submodule "catkin_ws/src/steering"]
	path = catkin_ws/src/steering
	url = git@github.com:project-omicron/steering.git
[submodule "catkin_ws/src/joy_teleop"]
	path = catkin_ws/src/joy_teleop
	url = git@github.com:project-omicron/joy_teleop.git
[submodule "catkin_ws/src/joystic_drivers"]
	path = catkin_ws/src/joystic_drivers
	url = git@github.com:project-omicron/joystick_drivers.git
[submodule "catkin_ws/src/realsense-ros"]
	path = catkin_ws/src/realsense-ros
	url = git@github.com:project-omicron/realsense-ros.git
