[submodule "catkin_ws/src/ai_pilot_keras"]
	path = catkin_ws/src/ai_pilot_keras
	url = git@github.com:serge-m/omicron_ai_pilot_keras.git
	branch = development
[submodule "catkin_ws/src/pwm_radio_arduino"]
	path = catkin_ws/src/pwm_radio_arduino
	url = git@github.com:serge-m/pwm_radio_arduino.git
[submodule "catkin_ws/src/steering_translator"]
	path = catkin_ws/src/steering_translator
	url = git@github.com:serge-m/steering_translator.git
