<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Robocar launch console</title>
</head>

<script src="js/angular.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="launcherCtrl">
        <script src="js/my_controller.js"></script>

        <h1>Robocar launch console</h1>
        <p>Status: {{ connectionStatus }} </p>
        
        <div ng-repeat="nodeName in nodeNames">
            <h4>{{ nodeName }}</h4>
            <button ng-click="startScript(nodeName)">Start</button>
            <textarea>{{ launchParams[nodeName] }}</textarea>
            
            <button ng-click="stopScript(nodeName)">Stop</button>
            <p>{{ nodeStatuses[nodeName] }}</p>
            
        </div>

    </div>


</body>

</html>