[Unit]
After=roscore.service
[Service]
#Type=forking
User=ubuntu
ExecStart=/bin/sh -c ". /home/ubuntu/sergem_robocar/catkin_ws/devel/setup.sh; PATH=/home/ubuntu/sergem_robocar/py3/bin/:$PATH roslaunch /home/ubuntu/sergem_robocar/scripts/robocar_record.launch"
[Install]
WantedBy=multi-user.target
